<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/contatos.css">
    <title>Contatos</title>
</head>

<body>

    <div class="controle">
        <h3 class="cliente"><i class="fa-solid fa-user"></i> &nbsp; Oi &nbsp; <span class="cli-export">  <%= cliente %> &nbsp; </span> seja bem vindo(a)!</h3>
      </div>
      
    <%- include('header') %>
    <img src="/images/CONTATOS.png" alt="">
        <div class="l-container">
            <div class="back" style="position: absolute; right: 10px; top: 20px; ">
                <h5><a href="/logando/deslogado" style="color: rgba(130, 130, 130, 0.513);">deslogar</a></h5>
            </div>
            <div class="formulario">
                <h1 class="titulo-contato">
                    CONTATOS
                </h1>
                
                <form action="/envio/" method="post" data-form>
                    <input type="text" name="nome" placeholder="Nome" required>
                    <input type="tel" name="tel" placeholder="Telefone" required>
                    <input type="email" name="email" placeholder="E-mail" required>
                    <input type="text" name="cidade" placeholder="Cidade" required>
                    <button type="submit" data-button >Enviar</button>
                </form>
            </div>
        </div>
        <%- include('footer') %>
        <script src="/javascripts/contatos.js"></script>
</body>

</html>