<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/envios.css">
    <title>Envio</title>
</head>
<body>
 
<div class="saudacao">
    <h1 class="cliente"><%= nome.nome %></h1>
    <h2 class="texto1">Sua mensagem foi enviada com sucesso!</h2>
    <h3 class="texto1">Em breve estaremos entrando em contato</h3>
    <a href="/"><div><p>Início</p></div></a>
    <img src="/images/biblike5.jpg" alt="">
</div>
</body>
</html>