<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>footer</title>
</head>
<body>
    <div class="rodape">
<div class="redes_sociais">
    <h3>Redes Sociais</h3>
    <div class="container-soc">
        <div class="soc">
            <p>Instagram</p>
            <i class="fa-brands fa-instagram"></i>
        </div>
       
        <div class="soc">
            <p>Facebook</p>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="soc">
            <p>Youtube</p>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</div>
<div class="produtos">
    <h3>Menu</h3>
<div>
    <a href="">
        <p>Home</p>
    </a>
    <a href="">
        <p>Contatos</p>
    </a>
    <a href="">
        <p>Produtos</p>
    </a>
</div>
</div>
<div class="local">
    <h3>Endereço</h3>
<div>
    <p>Rua: Inocêncio Chaves de Souza</p>
    <p>Barra do Aririú - Palhoça - SC</p>
</div>
</div>
<div class="producao">
<h1>Martinez Company Websites <span>Conectando você ao mundo digital !</span></h1>
</div>
    </div>
    <script src="https://kit.fontawesome.com/7985080309.js" crossorigin="anonymous"></script>
</body>
</html>