<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>Header</title>
</head>
<body>
    
<header class="header">
    <div class="logo">
        <h1 class="logotipo">
            Martinez Company
        </h1>
    </div>
    <div class="menu">
        <form action="/buscar/" method="post">
            <input type="search" name="buscar" aria-activedescendant="oi">
            <button type="submit">buscar</button>
        </form>
        <ul class="nav">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/logando/contatos">
                   Contatos
                </a>
            </li>
            <li>
                <a href="/logando/produtos">
                    Produtos
                </a>
            </li>
           
        </ul>
    </div>
    <div class="menu-cel  " onclick="nemuCelularX(this)">
        <div data-direita ></div>
        <div data-centro ></div>
        <div data-esquerda ></div>
    </div>
    <div class="link-cel">
        <ul class="links-cel">
            <li><a href="/">Home</a></li>
            <li><a href="/logando/contatos">Contatos</a></li>
            <li><a href="/logando/produtos">Produtos</a></li>
        </ul>
    </div>

</header>
<script src="/javascripts/menu.js"></script>
<script src="https://kit.fontawesome.com/7985080309.js" crossorigin="anonymous"></script>
</body>
</html>


