<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <div class="controle">
        <h3 class="cliente"><i class="fa-solid fa-user"></i> &nbsp; Oi &nbsp; <span class="cli-export">  <%= cliente %> &nbsp; </span> seja bem vindo(a)!</h3>
      </div>
    <%- include('header') %>

        <div class="l-container" >
            <div class="back" style="position: absolute; right: 10px; top: 20px; ">
                <h5><a href="/logando/deslogado" style="color: rgba(130, 130, 130, 0.513);">deslogar</a></h5>
            </div>
            <img src="/images/capaindex.png" alt=""  >

            <h1>CRIE SEU SITE CONOSCO! </h1>
            <div class="carde-1">
                <img src="/images/prop1.jpeg" alt="">
                <div class="testos">
                    <hgroup>
                        <h2>Transformando ideias em realidade digital</h2>
                        <p>Impulsione o crescimento do seu negócio com um site dinâmico</p>
                        <p>Transforme seu negócio on-line com nossas soluções de site</p>
                    </hgroup>
                    <p id="promo">Bônus: 1 mês de gestão de anúncios gratuitamente, hospedagem gratuita por 1 ano e
                        Certificado SSL</p>
                </div>
            </div>

        </div>
        <%- include('footer') %>
</body>

</html>