<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <%- include('header') %>

        <div class="l-container">

            <img src="/images/capaindex.png" alt="">

            <h1>CRIE SEU SITE CONOSCO! </h1>
            <h1>essa e sua visita numero <%= visita %> </h1>
            <div class="carde-1">
                <img src="/images/prop1.jpeg" alt="">
                <div class="testos">
                    <hgroup>
                        <h2>Transformando ideias em realidade digital</h2>
                        <p>Impulsione o crescimento do seu negócio com um site dinâmico</p>
                        <p>Transforme seu negócio on-line com nossas soluções de site</p>
                    </hgroup>
                    <p id="promo">Bônus: 1 mês de gestão de anúncios gratuitamente, hospedagem gratuita por 1 ano e
                        Certificado SSL</p>
                </div>
            </div>

        </div>

</body>

</html>