.controle {
    position: absolute;
    right: 10px;
}
.cliente {
    font-size: var(--font-step--2);
    color: var(--cor2);
}

.cli-export{
    color: tomato;
}

.bac  h1{
    text-align: center;
    font-size: var(--font-step-2);
    color: tomato;
    margin-top: 30px;
}
.bac h3 {
    font-size: var(--font-step-2);
    text-align: center;
    color: var(--cor1);
    /* text-shadow: 1px 1px 2px tomato; */
    font-weight: 300;
}







.titulo-contato {
    text-align: center;
    margin-top: 5%;
    font-size: var(--font-step-5);
    color: white;
    text-shadow: 1px 1px 20px black;
}
.aviso {
    text-align: center;
    color: tomato;
    font-weight: 400;
    font-size: var(--font-step-3);
}
.l-container {
    display: grid;
    grid-template-areas: 
    ". centro centro .";
    background-color: var(--cor3);
}
.formulario {
    grid-area: centro;
    margin-top: 5%;
}

.formulario form{
width:50%;
display: flex;
flex-direction: column;
margin:5% auto;
gap: 20px;
}
.formulario input{
padding: 7px;
border-radius: 7px;
}
.formulario button {
    width: 40%;
    padding:  16px 0;
    border: none;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.405);
    cursor: pointer;
    border-radius: 7px;
}
img{
    width: 100%;
}

@media(max-width:1000px){
    .formulario form{
        width:100%;
        }
}